<div class="Screen" *ngIf="AScreen" >
  <div class="border"></div>

  <div *ngIf="FilterBy" class="Filter">

    <p class="G">Generation:</p>
    <p class="T">Type:</p>

    <!-- Select Generación -->
    <select
      [(ngModel)]="selectedGeneration"
      (change)="onFilterChange()"
       class="Generation">
      <option [ngValue]="null">All</option>
      <option *ngFor="let g of generations" [ngValue]="g">Gen {{ g }}</option>
    </select>

    <!-- Select Tipo -->
    <select
      [(ngModel)]="selectedType"
      (change)="onFilterChange()"
      class="Type"
    >
      <option [ngValue]="null">All</option>
      <option *ngFor="let t of types" [ngValue]="t">{{ t }}</option>
    </select>
  </div>

  <div class="BorderImput">
    <input class="ImputText"
      type="text"
      placeholder="Search a pokemon..."
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange()"
    />
  </div>

  <div class="TargetsContainer"
       (mousemove)="onMouseMove($event, targetsDiv)"
       (mouseleave)="onMouseLeave()"
       #targetsDiv>
    <div *ngFor="let p of displayedPokemons" class="DisplayCard"
       [ngStyle]="{'background': getPokemonColor(p.types)}"
         (click)="onSelectPokemon(p)"
      style="cursor: pointer;">
      <div class="Targert"></div>
      <div class="Content">
        <div class="CardPhoto">
          <img [src]="p.image" [alt]="p.name" />
        </div>
        <p class="CardID">#{{p.id}}</p>
        <h2 class="CardName">{{p.name}}</h2>
      </div>
    </div>
  </div>
</div>



