<div class="screen">
  <div *ngIf="!isOn" class="screen-off"></div>

  <div *ngIf="isOn" class="welcome-screen">
    <video
      #videoPlayer
      [src]="currentVideo"
      autoplay
      [loop]="showMenu"
      [class.intro]="!showMenu"
      [class.menu]="showMenu"
      (ended)="onVideoEnded()"
      disablepictureinpicture
    ></video>
     <!-- 🎧 Control de volumen con emojis -->
    <div *ngIf="showMenu" class="volume-control">
      <button class="volume-btn" (click)="toggleMute()">
        <span class="volume-icon">{{ volumeIcon }}</span>
      </button>
      <input
        type="range"
        min="0"
        max="1"
        step="0.01"
        [(ngModel)]="volume"
        (input)="changeVolume()"
      />
    </div>

    <div *ngIf="showMenu" class="menu-options">
      <button
        *ngFor="let option of options"
        class="option-btn"
        (click)="onOptionClick(option)"
      >
        {{ option }}
      </button>
    </div>
  </div>
</div>

