.screenb {
  position: absolute;
  width: 460px;
  height: 460px;
  top: 220px;
  right: 340px;
  border: 2px solid white;
  border-radius: 4px;
  overflow: hidden; /* Importante para que la animación no se salga */
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 999;
}

/* Video ocupa todo el contenedor */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}



.poke-top {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.poke-top {
  top: 0;
}

.poke-top img {
  width: 100%;
  height: 200%; /* Duplicamos altura para poder animar */
  top: 0;
  position: relative;
}

.poke-bottom {
  bottom: 0;
}

.poke-bottom img {
  width: 100%;
  height: 200%;
  top: -100%; /* Inicia mostrando la mitad inferior */
  position: relative;
}
