<!-- Small Red,Yellow,Green circule -->
<div class="cir">
  <div class="cir1" style="background: radial-gradient(circle at 30% 30%, #ffffff, #ff0000);"></div>
  <div class="cir2" style="background: radial-gradient(circle at 30% 30%, #ffffff, #ffc400fa);"></div>
  <div class="cir3" style="background: radial-gradient(circle at 30% 30%, #ffffff, #73ff00fa);"></div>
</div>

<!-- Big blue circule -->
<div class="circulo">
  <div class="circulo-plato"></div>
  <div class="circulo-borde"></div>
</div>
<!-- medium red circule -->
<div class="redcir"></div>

<!-- medium yellow circule at the second slide -->
<div class="yelcir"></div>

<!-- two reds lights -->

<div class="p1" style="background:  #ff0000"></div>
<div class="p2" style="background: #ff0000"></div>
