  <!-- Dots -->
    <div class="Dots">
      <span *ngFor="let dot of [0, 1, 2]; let i = index"
            (click)="setPage(i)"
            [class.active]="i === currentPage"></span>
    </div>
<div *ngIf="Ison" class="Screen">


  <!-- Verificamos si hay un Pokémon -->
  <ng-container *ngIf="selectedPokemon$ | async as sp; else empty">

    <!-- Contenedor de las 3 páginas -->
    <div class="PagesContainer" [style.transform]="'translateX(-' + currentPage * 100 + '%)'">

      <!-- Página 1 -->
      <div class="Page">
        <div class="BigCard">
          <div class="PhotoFrame">
            <img class="BigPhoto" [src]="sp.image" [alt]="sp.name" draggable="false" />
          </div>
          <div class="Info" [ngStyle]="{'background': getPokemonColor(sp.types)}" >
            <p class="CardID">#{{ sp.id }}</p>
            <h1 class="CardName">{{ sp.name | uppercase }}</h1>
          </div>
        </div>
      </div>

      <!-- Página 2 -->
      <div class="Page">
       <h2 style="left: -140px;font-size: medium; position: relative; top: -80px;" > Abilities:</h2>
       <h2 style="left: -120px;font-size: medium; position: relative; top:  40px;" > Disadvantages:</h2>
       <img class="Photo" [ngStyle]="{'background': getPokemonColor(sp.types)}" [src]="sp.image" [alt]="sp.name"  />
      </div>

      <!-- Página 3 -->
      <div class="Page">
        <h2 class="Title3">Evolutions:</h2>

      </div>
    </div>



  </ng-container>

  <!-- Si no hay Pokémon seleccionado -->
  <ng-template #empty>
    <div class="EmptyState">
      <p class="Hint">Choose a Pokémon</p>
    </div>
  </ng-template>
</div>
